
<!-- Top News Start-->
<div class="top-news">
  <div class="container">
    <div class="row">
      <div class="col-md-6 tn-left">
        <div class="row tn-slider">
          <owl-carousel [options]="titleSlider" [carouselClasses]="['owl-theme', 'customClassName']">
            <div class="col-md-6">
              <div class="tn-img2">
                <img src="/assets/img/news-450x350-1.jpg" alt=""/>
                <div class="tn-title">
                  <a href="">Lorem ipsum dolor sit amet</a>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="tn-img2">
                <img src="https://i1-vnexpress.vnecdn.net/2022/08/12/Sinhvinngnhkhoahcdliu-16602657-9370-5926-1660266620.jpg?w=1200&h=0&q=100&dpr=1&fit=crop&s=UHQ6NUgJkkxUnaJtmXcRWg" alt=""/>
                <div class="tn-title">
                  <a href="">Integer hendrerit elit eget purus sodales maximus</a>
                </div>
              </div>
            </div>
          </owl-carousel>
        </div>
      </div>
      <div class="col-md-6 tn-right">
        <div class="row">
          <div class="col-md-6" *ngFor="let new of news | slice:0:4">
            <div class="tn-img">
              <img src="{{new.img}}" alt=""/>
              <div class="tn-title">
                <a href="/single-page/{{new.id}}/1">{{new.title}}</a>
              </div>
            </div>
          </div>
<!--          <div class="col-md-6">-->
<!--            <div class="tn-img">-->
<!--              <img src="assets/img/news-350x223-2.jpg" alt=""/>-->
<!--              <div class="tn-title">-->
<!--                <a href="">Lorem ipsum dolor sit</a>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="col-md-6">-->
<!--            <div class="tn-img">-->
<!--              <img src="assets/img/news-350x223-3.jpg" alt=""/>-->
<!--              <div class="tn-title">-->
<!--                <a href="">Lorem ipsum dolor sit</a>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="col-md-6">-->
<!--            <div class="tn-img">-->
<!--              <img src="assets/img/news-350x223-4.jpg" alt=""/>-->
<!--              <div class="tn-title">-->
<!--                <a href="">Lorem ipsum dolor sit</a>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Top News End-->

<!-- Category News Start-->
<div class="cat-news">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>Category 1</h2>
        <div class="cn-slider">
          <!--do here-->
            <div *ngFor="let new of news |slice:0:5; let i = index" class="col-md-6">
              <div class="cn-img">
                <img src="{{new.img}}" alt=""/>
                <div class="cn-title">
                  <a class="link" href="/single-page/{{new.id}}/1">{{new.title}}</a>
                </div>
              </div>
            </div>

        </div>
        <div class="button_area">
          <button class="prev" appPrev> < </button>
          <button class="next" appNext> > </button>
        </div>
      </div>
      <div class="col-md-6">
        <h2>Category 2</h2>
        <div class="on-slider">
<!--          <owl-carousel [options]="homeSlider" [carouselClasses]="['owl-theme', 'customClassName']">-->
            <div class="col-md-6" *ngFor="let new of newsCategory2 |slice :0: 5">
              <div class="cn-img">
                <img src="{{new.img}}" alt=""/>
                <div class="cn-title">
                  <a href="/single-page/{{new.id}}/2">{{new.title}}</a>
                </div>
              </div>
            </div>

<!--          </owl-carousel>-->
        </div>
        <div class="button_area">
          <button class="prev" appPrev> < </button>
          <button class="next" appNext> > </button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Category News End-->

<!-- Category News Start-->
<div class="cat-news">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>Category 3</h2>
        <div class="row cn-slider">
<!--          <owl-carousel [options]="homeSlider" [carouselClasses]="['owl-theme', 'customClassName']">-->
          <div class="col-md-6" *ngFor="let new of newsCategory3 |slice :0: 5">
            <div class="cn-img">
              <img src="{{new.img}}" alt=""/>
              <div class="cn-title">
                <a href="/single-page/{{new.id}}/3">{{new.title}}</a>
              </div>
            </div>
          </div>


        </div>
        <div class="button_area">
          <button class="prev" appPrev> < </button>
          <button class="next" appNext> > </button>
        </div>
      </div>
      <div class="col-md-6">
        <h2>Category 4</h2>
        <div class="row cn-slider">
          <div *ngFor="let new of newsCategory4 |slice:0:5; let i = index" class="col-md-6">
            <div class="cn-img">
              <img src="{{new.img}}" alt=""/>
              <div class="cn-title">
                <a class="link" href="/single-page/{{new.id}}/4">{{new.title}}</a>
              </div>
            </div>
          </div>

        </div>
        <div class="button_area">
          <button class="prev" appPrev> < </button>
          <button class="next" appNext> > </button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Category News End-->

<!-- Tab News Start-->
<div class="tab-news">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <ul class="nav nav-pills nav-justified">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="pill" (click)="middleNews1(0)" *ngIf="numberMiddle1 == 0">Featured News</a>
            <a class="nav-link" data-toggle="pill" (click)="middleNews1(0)" *ngIf="numberMiddle1 != 0">Featured News</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" data-toggle="pill" (click)="middleNews1(3)" *ngIf="numberMiddle1 == 3">Popular News</a>
            <a class="nav-link" data-toggle="pill" (click)="middleNews1(3)" *ngIf="numberMiddle1 != 3">Popular News</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" data-toggle="pill" (click)="middleNews1(6)" *ngIf="numberMiddle1 == 6">Latest News</a>
            <a class="nav-link" data-toggle="pill" (click)="middleNews1(6)" *ngIf="numberMiddle1 != 6">Latest News</a>
          </li>
        </ul>

        <div class="tab-content">
          <div class="container tab-pane active">
            <div class="tn-news" *ngFor="let newMiddle of middleNew1">
              <div class="tn-img">
                <img src="{{newMiddle.img}}" alt=""/>
              </div>
              <div class="tn-title">
                <a href="/single-page/{{newMiddle.id}}/1">{{newMiddle.title}}</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <ul class="nav nav-pills nav-justified">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="pill" (click)="middleNews2(0)" *ngIf="numberMiddle2 == 0">Most View</a>
            <a class="nav-link" data-toggle="pill" (click)="middleNews2(0)" *ngIf="numberMiddle2 != 0">Most View</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" data-toggle="pill" (click)="middleNews2(3)" *ngIf="numberMiddle2 == 3">Most Read</a>
            <a class="nav-link" data-toggle="pill" (click)="middleNews2(3)" *ngIf="numberMiddle2 != 3">Most Read</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" data-toggle="pill" (click)="middleNews2(6)" *ngIf="numberMiddle2 == 6">Most Recent</a>
            <a class="nav-link" data-toggle="pill" (click)="middleNews2(6)" *ngIf="numberMiddle2 != 6">Most Recent</a>
          </li>
        </ul>

        <div class="tab-content">
          <div id="featured" class="container tab-pane active">
            <div class="tn-news" *ngFor="let newMiddle of middleNew2">
              <div class="tn-img">
                <img src="{{newMiddle.img}}" alt=""/>
              </div>
              <div class="tn-title">
                <a href="/single-page/{{newMiddle.id}}/2">{{newMiddle.title}}</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Tab News Start-->

<!-- Main News Start-->
<div class="main-news">
  <div class="container">
    <div class="row">
      <div class="col-lg-9">
        <div class="row">
          <div class="col-md-4" *ngFor="let new of news | slice:0: 9">
            <div class="mn-img">
              <img src="{{new.img}}" alt=""/>
              <div class="mn-title">
                <a href="/single-page/{{new.id}}/1">{{new.title}}</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3">
        <div class="mn-list">
          <h2>Read More</h2>
          <ul>
            <li *ngFor="let new of newsCategory2 |slice:0:8">
              <a href="/single-page/{{new.id}}/2">{{new.title}}</a>
            </li>

          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Main News End-->



